*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: white;
    padding: 30px;
}
.title{
    text-align: center;
    margin-bottom: 30px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}
.cards{
    background: white;
    width:250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.cards img{
    width:100%;
   border-radius: 8px;
   height: 200px;
   object-fit: cover;
}
.cards:hover{
    transform: translateX(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    
}
.price{
    color:green;
    font-weight: bold;
    margin:10px 0;
}
.btn{
    background-color: rgb(6, 124, 164);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    color: white;
    cursor: pointer;
   

}
.btn:hover{
    background-color: blueviolet;
    
}
@media(max-width:600px){
    body{
        padding: 15px;
    }
    .title{
        font-size: 22px;
        margin-bottom:20px ;
    }
    .container{
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .cards{
        width:80%;
    }
    .btn{
        width: 100%;
    }
}