.box {
  border: 2px solid green;
  margin: 10px;
  padding: 10px;
}


/* Block */
.block {
  display: block;
  width: 200px;
  height: 60px;
}
/* Inline */
.inline {
  display: inline;
  width: 200px;   
  height: 60px;   
}

/* Inline-block */
.inline-block {
  display: inline-block;
  width: 200px;
  height: 60px;
}