.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    border: 2px solid black;
    padding: 30px;
    gap:20px;
   
}
.box{
    height: 120px;
    background-color: lightblue;
    border: 2px solid blue;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
@media(max-width:600px){
    .container{
        grid-template-columns: 1fr;
    }
}