.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 2px solid black;
  padding: 20px;

}

.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}