.container{
    display: grid;
    grid-template-columns: repeat(3,150px);
    justify-content:center;
    border: 2px solid black;
    padding: 40px;
    gap:40px;
   
}
.box{
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border: 2px solid blue;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}