body{
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    width:250px;
    height:120px;
    border:3px solid green; 
    padding: 20px;
    margin: 20px;
    background-color:#e6ffe6 ;
    box-sizing: border-box  ;
}