* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 body{
    background-color: #f2f4f8;
 }
.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: bold;
}

.sidebar {
    grid-area: sidebar;
    background: #f4f4f4;
    padding: 20px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: lightblue;
    border: 2px solid blue;
    padding: 40px 0;
    text-align: center;
    font-weight: bold;
}

.footer {
    grid-area: footer;
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 600px) {
    .layout {
        grid-template-areas:
            "header"
            "content"
            "footer";
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }
    .content{
        grid-template-columns: 1fr;
    }
}