.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border: 2px solid black;
    padding: 20px;
   
}
.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid blue;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}